body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border: 1px solid #DADDE1;
  border-radius: 4px;
  margin: 30px auto;

}

.Fav-places {
  margin-left: 0;
}

.Fav-places ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;
}

.Fav-places li {
  margin: 0 20px 0 0;
}

.search-input {
    border-radius: 5px;
    border: 1px solid #DADDE1;
    line-height: 1.5;
    font-weight: 400;
    height: 2px;
    margin-right: 10px;
    padding:  18px 6px;
    width: 70%;
}

.search-button {
    color: #fff;
    background-color: burlywood;
    width: 20%;
    border-radius: 5px;
    padding: 6px 15px;
    border: 1px solid transparent;
    line-height: 1.5;

}

.weather-summary {
    line-height: 15px;
    padding: 20px 0;
}

.weather-details {
    color: #878787;
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
}

h1 {
   color: #878787;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    line-height: 28px;

}
 



.Forecast ul {
  margin: 20px 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.Forecast li {
  padding: 0 25px;
  margin: 0 auto;
}
 
.temperature {
  color: #333;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  padding-left: 10px;
}

.temp-unit {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  top: -34px;

  
}

.forecast-day {
  color: #bababa;
  font-size: 13px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 5px;
}

.forecast-temp {
  color: #878787;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px
}

.footer {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 576px) {
  .App {
      max-width: 300px;
      margin: 40px auto;
      padding: 25px;
      margin: 25px auto;
    }
    
    .search-input {
       padding: 15px 6px;
       width: 60%;
     }
    
    .search-button {
       width: 30%;
       border-radius: 5px;
       padding: 3px 6px;
     }

    .weather-details {
      font-size: 12px;
      line-height: 15px;
    }

    .forecast-day,.forecast-temp {
      font-size: 10px;
    }

    .Forecast li {
      padding: 0;
     }

     .Fav-places {
      font-size: 13px;
     }
}